.musicPlayerInner {
  height: 1.2em;
  background-color: gray;
  border: 1px solid rgb(51, 7, 38);
}

.musicPlayerLeft {
  background-color: green;
  float: left;
  height: 100%;
}

.musicPlayerCenter {
  background-color: blue;
  float: left;
  height: 100%;
}
