.musicPlayerInner {
  overflow: hidden;
  height: 20px;
}

.musicPlayerLeft {
  background-color: green;
  float: left;
  height: 20px;
}

.musicPlayerRight {
  background-color: gray;
  float: left;
  height: 20px;
}

.musicPlayerCenter {
  background-color: blue;
  float: left;
  height: 20px;
}
