.musicPlayerContainer {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

.musicPlayerInner {
  overflow: hidden;
  height: 20px;
}

.musicPlayerLeft {
  background-color: green;
  float: left;
  border-radius: 3em;
  height: 20px;
}

.musicPlayerRight {
  background-color: gray;
  float: left;
  border-radius: 3em;
  height: 20px;
}

.musicPlayerCenter {
  background-color: blue;
  float: left;
  border-radius: 3em;
  height: 20px;
}
