.songListContainer {
  background-color: #343a40;
  min-width: 50%;
  padding: 0.5em;
}

.songlist {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 2;
  max-height: 10%;
}

.volumeBar {
  flex: 2;
  margin: 0;
}

.PlayBar {
  text-align: center;
  margin: 1em;
}
