.songListContainer {
  background-color: #343a40;
  max-width: 40em;
  padding: 1em;
}

.songlist {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
}

.PlayBar {
  text-align: center;
}
