.songListContainer {
  background-color: #343a40;
  max-width: 40em;
  min-width: 50%;
  padding: 1em;
}

.songlist {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
  overflow-y: auto;
  overflow-x: none;
  flex: 2;
  max-height: 10%;
}

.PlayBar {
  text-align: center;
}
