.songCard {
  border: "solid thin black";
  border-radius: ".3em";
  height: 4em;
  cursor: "pointer";
  transition: "all .2s ease-in-out";
  z-index: "auto";
}
.songCard:hover {
  transform: scale(1.01);
}
